/* 以下top */

.header {
    width: 100%;
    background: #363636;
    height: 36px;
}

.header header {
    width: 1200px;
    height: 36px;
    position: relative;
    margin: 0 auto;
}

.header header .head-allGames {
    height: 36px;
    line-height: 36px;
}

.header header .top-right-wrap {
    font-size: 0;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
}

.header header .head-allGames i.head-allGames-icon {
    font-size: 13px;
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    background-color: #FFF25D;
    color: #000000;
    text-align: center;
}

.header header .head-allGames span.head-allGames-text {
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    color: #FFF25D;
    height: 13px;
    line-height: 13px;
    display: inline-block;
}

.header header .top-right-wrap .head-greet {
    display: inline-block;
    box-sizing: border-box;
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    height: 34px;
    color: #E6E6E6;
    border-right: 1px solid #4A4A4A;
}

.header header .top-right-wrap .head-greet .head-greet-exit {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: #E6E6E6;
    text-align: center;
    width: 60px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
}

.header header .top-right-wrap .head-agent {
    box-sizing: border-box;
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    height: 34px;
    color: #E6E6E6;
    border-right: 1px solid #4A4A4A;
    display: inline-block;
}

.header header .top-right-wrap .head-agent i.down-hook {
    margin-right: 17px;
}

.header header .top-right-wrap .head-agent .head-agent-text {
    margin-left: 20px;
}

.header header .top-right-wrap .head-agent .icon-down-hook {
    margin-right: 20px;
}

.header header .top-right-wrap .head-money {
    box-sizing: border-box;
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    height: 34px;
    color: #E6E6E6;
    border-right: 1px solid #4A4A4A;
    display: inline-block;
}

.header header .top-right-wrap .head-money .head-money-title {
    margin-left: 16px;
}

.header header .top-right-wrap .head-money .head-money-count {
    color: #FFF25D;
    margin: 0 2px;
}

.header header .top-right-wrap .head-money .head-money-refresh {
    cursor: pointer;
    margin: 0 2px;
    font-size: 14px;
}

.header header .top-right-wrap .head-money .head-money-hide {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: 36px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    display: inline-block;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 15px;
}

.header header .top-right-wrap .head-money .head-money-charge,
.header header .top-right-wrap .head-money .head-money-transfer,
.header header .top-right-wrap .head-money .head-money-withdraw {
    color: #FFF25D;
    cursor: pointer;
    width: 36px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
}

.header header .top-right-wrap .head-money .head-money-hide:hover,
.header header .top-right-wrap .head-money .head-money-charge:hover,
.header header .top-right-wrap .head-money .head-money-transfer:hover,
.header header .top-right-wrap .head-money .head-money-withdraw:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.header header .top-right-wrap .head-money .head-money-charge {
    /* margin-left: 16px; */
}

.header header .top-right-wrap .head-money .head-money-transfer {
    margin: 0 13px;
}

.header header .top-right-wrap .head-money .head-money-withdraw {
    margin-right: 16px;
}

.header header .top-right-wrap .head-download {
    box-sizing: border-box;
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    color: #E6E6E6;
    display: inline-block;
}

.header header .top-right-wrap .head-download a>i.head-download-icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: url(./images/head/icon-download.svg) center center no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 16px;
    margin-right: 6px;
}

.header header .top-right-wrap .head-download a>span.head-download-title {
    color: #E6E6E6;
}


/* 以上top */


/* 以下nav */

.nav {
    width: 100%;
    height: 70px;
    background: #252525;
}

.nav .menu-wrap {
    width: 1200px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-icon {
    box-sizing: border-box;
    height: 70px;
}

.nav .menu-wrap .menu-icon .menu-icon-logo {
    display: inline-block;
    width: 166px;
    height: 34px;
    background: url(./images/head/menu-icon-logo.png) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    vertical-align: middle;
}

.nav .menu-wrap .menu-icon .menu-icon-logo2018 {
    width: 66px;
    height: 24px;
    display: inline-block;
    background: url(./images/head/menu-icon-logo2018.svg) center center no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-left: 9px;
    margin-top: -4px;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li {
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-index-icon {
    display: block;
    background: url(./images/head/menu-icon-index.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-lottery-icon {
    display: block;
    background: url(./images/head/menu-icon-lottery.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-live-icon {
    display: block;
    background: url(./images/head/menu-icon-live.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-fish-icon {
    display: block;
    background: url(./images/head/menu-icon-fish.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-slots-icon {
    display: block;
    background: url(./images/head/menu-icon-slots.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-sport-icon {
    display: block;
    background: url(./images/head/menu-icon-sport.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-poker-icon {
    display: block;
    background: url(./images/head/menu-icon-poker.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-activity-icon {
    display: block;
    background: url(./images/head/menu-icon-activity.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li i.menu-entertain-icon {
    display: block;
    background: url(./images/head/menu-icon-entertain.png) 30px 30px;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-index-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-lottery-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-sport-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-live-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-fish-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-slots-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-poker-title,
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-activity-title, 
.nav .menu-wrap .menu-nav .menu-ul .menu-li span.menu-entertain-title {
    display: block;
    /* font-family: .PingFangSC-Regular; */
    font-size: 14px;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
}

.nav .menu-wrap .menu-nav .menu-ul .menu-li:hover,
.nav .menu-wrap .menu-nav .menu-ul .menu-li.active {
    background: #434343;
}

/* 以上nav */

.down-hook {
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url(./images/head/down-hook.svg) center center no-repeat;
    background-size: cover;
    margin: 0 2px;
}