.index-main {
    background-image: linear-gradient(-180deg, rgba(42, 51, 79, 0) 0%, #242D47 15%);
    top: -150px;
    position: relative;
}

.index-banner-wrap .index-banner {
    width: 100%;
    height: 480px;
}

.index-main .index-main-announcement {
    width: 1200px;
    height: 46px;
    line-height: 46px;
    background: rgba(33, 33, 33, 0.90);
    font-size: 14px;
    color: #E6E6E6;
    margin: 0 auto;
    position: relative;
}

.index-main .index-main-announcement .main-announcement-title {
    /* font-family: .PingFangSC-Regular; */
    font-size: 14px;
    color: #FFF25D;
}

.index-main .index-main-announcement .main-announcement-more {
    /* font-family: .PingFangSC-Regular; */
    margin-right: 16px;
    position: absolute;
    right: 6px;
}

.index-main .index-main-announcement .main-announcement-border {
    border-right: 1px solid #A6A6A6;
    padding: 0 19px;
}

.index-main .index-main-announcement .main-announcement-border:nth-child(2) {
    padding-left: 0;
}

.index-main .index-main-announcement span {
    /* height: 14px;
    line-height: 14px; */
}

.index-main .index-main-announcement span:not(:first-child) {
    cursor: pointer;
}

.index-main .index-main-slide {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
}

.index-main .index-main-slide ul>li.slide-li {
    width: 400px;
    height: 240px;
    position: relative;
    cursor: pointer;
}

.index-main .index-main-slide ul>li.slide-li img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.index-main .index-main-slide ul>li.slide-li .slide-title-type {
    position: absolute;
    left: 16px;
    bottom: 41px;
}

.index-main .index-main-slide ul>li.slide-li .slide-title {
    /* font-family: .PingFangSC-Semibold; */
    font-size: 16px;
    color: #FFF25D;
}

.index-main .index-main-slide ul>li.slide-li .slide-type {
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    color: #FFFFFF;
    display: inline-block;
    background: #7A64D9;
    padding: 4px 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

.index-main .index-main-slide ul>li.slide-li .slide-sub-title {
    /* font-family: .PingFangSC-Regular; */
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.index-main .index-main-slide ul>li.slide-li .slide-sub-title>ul>li:nth-child(1) {
    margin-right: 30px;
}

.index-main .index-games {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background: #1A2442;
    box-sizing: border-box;
}

.index-main .index-games .index-games-left {
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #2A344F;
}

.index-main .index-games .index-games-left .games-left-top {
    width: 400px;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    border-bottom: 1px solid #2A344F;
}

.index-main .index-games .index-games-left .games-left-top .hot-lottery-cn {
    /* font-family: .PingFangSC-Regular; */
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
    border-right: 1px solid #B5B5B5;
    border-right: 1px solid rgba(181, 181, 181, 0.3);
    padding-left: 16px;
    padding-right: 9px;
    height: 16px;
    line-height: 16px;
}

.index-main .index-games .index-games-left .games-left-top .hot-lottery-en {
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    color: #E6E6E6;
    display: inline-block;
    padding-left: 6px;
}

.index-main .index-games .index-games-left .games-left-ul {
    box-sizing: border-box;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item {
    width: 200px;
    height: 68px;
    position: relative;
    border-bottom: 1px solid #2A344F;
    border-right: 1px solid #2A344F;
    box-sizing: border-box;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item .lottery-suggest {
    position: absolute;
    right: 0;
    top: 0;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item .lottery-suggest i.suggest-icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url(./images/index/icon-suggest.svg) center center no-repeat;
    background-size: cover;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item img {
    position: absolute;
    left: 16px;
    top: 10px;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item .lottery-title {
    position: absolute;
    left: 74px;
    top: 16px;
    /* font-family: .PingFangSC-Regular; */
    font-size: 14px;
    color: #FFFFFF;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item .lottery-time-count {
    position: absolute;
    left: 74px;
    bottom: 16px;
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    color: #B2B2B2;
}

.index-main .index-games .index-games-left .games-left-ul li.games-left-item .lottery-time-count em.lottery-time {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    width: 44px;
    height: 16px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    margin-right: 12px;
}

.index-main .index-games .index-games-left .games-left-bottom {
    width: 400px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    /* font-family: .PingFangSC-Regular; */
    font-size: 12px;
    color: #FFFFFF;
}

.index-main .index-games .index-games-left .games-left-bottom .left-bottom-wrap {
    width: 356px;
    height: 45px;
    margin: 0 auto;
    overflow: hidden;
}

.index-main .index-games .index-games-left .games-left-bottom .left-bottom-wrap>ul {
    width: 9999999999999999999999999px;
}

.index-main .index-games .index-games-left .games-left-bottom .good-news-item {
    margin: 0 15px;
}

.index-main .index-games .index-games-left .games-left-bottom .good-news-lottery {
    color: #FFF25D;
}

.index-main .index-games .index-games-left .games-left-bottom .good-news-money {
    color: #FFF25D;
}

.index-main .index-games .index-games-right {
    width: 800px;
    height: 300px;
}

.index-main .index-games .index-games-right .games-right-fish {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 300px;
    background: url(./images/index/game-bg-fish.jpg) center center no-repeat;
}

.index-main .index-games .index-games-right .games-right-fish img {
    position: absolute;
    left: 20px;
    bottom: 40px;
}

.index-main .index-games .index-games-right .games-right-live {
    background: url(./images/index/game-bg-live.jpg) center center no-repeat;
}

.index-main .index-games .index-games-right .games-right-slots {
    background: url(./images/index/game-bg-slots.jpg) center center no-repeat;
}

.index-main .index-games .index-games-right .games-right-sport {
    background: url(./images/index/game-bg-sport.jpg) center center no-repeat;
}

.index-main .index-games .index-games-right .games-right-chess {
    background: url(./images/index/game-bg-chess.jpg) center center no-repeat;
}

.index-main .index-games .index-games-right .games-right-live,
.index-main .index-games .index-games-right .games-right-slots,
.index-main .index-games .index-games-right .games-right-sport,
.index-main .index-games .index-games-right .games-right-chess {
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 150px;
}

.index-main .index-games .index-games-right .games-right-live img,
.index-main .index-games .index-games-right .games-right-slots img,
.index-main .index-games .index-games-right .games-right-sport img,
.index-main .index-games .index-games-right .games-right-chess img {
    position: absolute;
    right: 51px;
    bottom: -2px;
}

.index-main .index-games .index-games-right .games-right-fish .games-fish-cn,
.index-main .index-games .index-games-right .games-right-live .games-live-cn,
.index-main .index-games .index-games-right .games-right-slots .games-slots-cn,
.index-main .index-games .index-games-right .games-right-sport .games-sport-cn,
.index-main .index-games .index-games-right .games-right-chess .games-chess-cn {
    /* font-family: .PingFangSC-Semibold; */
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
    left: 16px;
    top: 20px;
}

.index-main .index-games .index-games-right .games-right-fish .games-fish-en,
.index-main .index-games .index-games-right .games-right-live .games-live-en,
.index-main .index-games .index-games-right .games-right-slots .games-slots-en,
.index-main .index-games .index-games-right .games-right-sport .games-sport-en,
.index-main .index-games .index-games-right .games-right-chess .games-chess-en {
    /* font-family: .PingFangSC-Semibold; */
    position: absolute;
    font-size: 12px;
    color: #E6E6E6;
    left: 16px;
    top: 42px;
    display: inline-block;
    border-top: 2px solid rgba(181, 181, 181, 0.3);
    padding-top: 5px;
}

.index-main .index-main-announcement .main-announcement-title .icon-voice {
    margin: 0 12px 0 16px;
    vertical-align: middle;
}

.index-main > div.index-main-announcement.clear > span.main-announcement-more > i.icon-more {
    font-size: 12px;
}

.footer footer .footer-img-wrap {
    background: #242D47;
    padding: 10px 0;
}

body .footer {
    margin-top: -150px;
}