.qipai_top {
    background: url(../images/qipai-bg.jpg) center center;
    position: relative;
    height: 422px;
}

.qipai_top .idn-top {
    position: absolute;
    left: 40%;
    top: 41px;
    height: 352px;
    width: 306px;
    border-radius: 5px;
    background-image: url(../images/idnplay.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #232323;
    z-index: 3;
}

.qipai_top .idn-top .idn-balance-title {
    position: absolute;
    left: 18px;
    bottom: 60px;
    color: gray;
}

.qipai_top .idn-top .idn-balance-count {
    position: absolute;
    left: 18px;
    bottom: 32px;
}

.qipai_top .idn-top .idn-balance-count .idn-count {
    font-family: "Microsoft Yahei";
    font-size: 16px;
    color: #fe7800;
}

.qipai_top .idn-top .idn-balance-count .idn-count-ico {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #ffffff;
}

#idn-btn {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: 30px;
    bottom: 36px;
    width: 75px;
    height: 22px;
    border-radius: 5px;
    background: #fe6200;
    display: inline-block;
    line-height: 22px;
    text-align: center;
}

.qipai_top .kgame-top {
    position: absolute;
    border-radius: 5px;
    background-color: #242524;
    top: 58px;
    left: 56%;
    height: 320px;
    width: 280px;
    z-index: 2;
    opacity: 0.9;
}

.qipai_top .kgame-top .kgame-top-ico {
    position: absolute;
    top: 112px;
    right: 68px;
    background: url(../images/kgame-logo.png) center;
    width: 137px;
    height: 38px;
}

.qipai_top .kgame-top .kgame-top-text {
    position: absolute;
    top: 160px;
    right: 68px;
    width: 137px;
    height: 38px;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    color: #fad9a1;
}

.qipai_top .other-top {
    position: absolute;
    top: 81px;
    left: 72%;
    height: 275px;
    width: 150px;
    border-radius: 5px;
    background-color: #0a0f27;
    z-index: 1;
    opacity: 0.8;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.qipai-main {
    background-color: #0c0a13;
}

.qipai-main .qipai-caution {
    height: 49px;
    width: 1200px;
    margin: 0 auto;
    background-color: #242524;
}

.qipai-main .qipai-caution span img {
    vertical-align: middle;
    margin-left: -50px;
    margin-right: 16px;
}

.qipai-main .qipai-caution span {
    font-family: "Microsoft Yahei";
    font-size: 24px;
    color: #fdfdfd;
    display: inline-block;
    height: 49px;
    line-height: 49px;
    vertical-align: middle;
    margin-left: 72px;
}

.qipai-main .qipai-tabs {
    width: 1200px;
    margin: 0 auto;
}

.qipai-main .qipai-tabs .qipai-tab {
    float: left;
    width: 400px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background: url(../images/qipai-tab-bg.jpg) center center no-repeat;
}

.qipai-main .qipai-tabs .qipai-tab .qipai-all-icon {
    background: url(../images/qipai-tab-all.png) center center no-repeat;
    width: 34px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.qipai-main .qipai-tabs .qipai-tab .qipai-all-text {
    font-size: 34px;
    margin-left: 10px;
    color: #fdfdff;
    font-family: "Microsoft Yahei";
    vertical-align: middle;
}

.qipai-main .qipai-tabs .qipai-tab:hover,
.qipai-main .qipai-tabs .qipai-tab.active {
    background: #8332d1;
}

.qipai-main .qipai-tabs .qipai-tab:hover .qipai-all-icon,
.qipai-main .qipai-tabs .qipai-tab.active .qipai-all-icon {
    background: url(../images/qipai-tab-all-active.png) center center no-repeat;
}

.qipai-main .qipai-tabs .qipai-tab .qipai-idn-img {
    display: inline-block;
    background: url(../images/idn.png) center center no-repeat;
    width: 100%;
    height: 90px;
    line-height: 90px;
}

.qipai-main .qipai-tabs .qipai-tab:hover .qipai-idn-img,
.qipai-main .qipai-tabs .qipai-tab.active .qipai-idn-img {
    background: url(../images/idn-active.png) center center no-repeat;
}

.qipai-main .qipai-tabs .qipai-tab .qipai-kgame-img {
    display: inline-block;
    background: url(../images/kgame-active.png) center center no-repeat;
    width: 100%;
    height: 90px;
    line-height: 90px;
}

.qipai-main .qipai-tabs .qipai-tab:hover .qipai-kgame-img,
.qipai-main .qipai-tabs .qipai-tab.active .qipai-kgame-img {
    background: url(../images/kgame-active.png) center center no-repeat;
}

.qipai-main .qipai-lists {
    background: #000000;
    width: 1200px;
    margin: 0 auto;
}

.qipai-main .qipai-lists ul {
    box-sizing: border-box;
    width: 1200px;
    padding: 24px 23px;
    margin: 0;
}

.qipai-main .qipai-lists ul li.qipai-item {
    width: 373px;
    height: 178px;
    float: left;
    position: relative;
}

.qipai-main .qipai-lists ul li.qipai-item:nth-child(3n-1) {
    margin-left: 16px;
    margin-right: 17px;
}

.qipai-main .qipai-lists ul li.qipai-item .qipai-item-bottom {
    position: absolute;
    height: 36px;
    width: 100%;
    background-color: #301714;
    bottom: 18px;
    opacity: 0.8;
}

.qipai-main .qipai-lists ul li.qipai-item .qipai-item-bottom i.mini-icon {
    background: url(../images/mini-idn-logo.png);
    position: absolute;
    left: 5px;
    top: 16px;
    width: 44px;
    height: 7px;
}

.qipai-main .qipai-lists ul li.qipai-item .qipai-item-bottom span.qipai-title {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: white;
}